body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e2327;
    color: #fff;
    }
    .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    }
    .head {
  display: flex;
	justify-content: center;
	align-items: center;
	height: 0%;
	flex-direction: column;
	text-align: center;
    }
    .row {
    display: flex;
    margin: -10px;
    }
    
    .col-left, .col-right {
    flex: 1;
    padding: 10px;
    }
    
    .post {
    background-color: #2e3235;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    }
    
    .post h2 {
    margin-top: 0;
    color: #8bc34a;
    }
    
    .post-content {
    color: #fff;
    }
    
    .post-content img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
    }
    .content {
      max-width: 800px;
      width: 100%;
      padding: 20px;
    }